@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h1 class="text-center">My posts</h1>

<div class="row">
    <div class="col-md-2 d-flex flex-column gap-3">
        <a asp-page="/Posts/Create" class="btn btn-primary btn-sm">New Post</a>
        <a asp-page="/Authors/Create" class="btn btn-primary btn-sm">New Author</a>
        <a asp-page="/Categories/Create" class="btn btn-primary btn-sm">New Category</a>
    </div>
    
    <div class="col-md-7">
        @foreach(var post in Model.Posts){
            <div class="card mb-3">
                <div class="card-body">
                    <h3 class="card-title">@post.Title</h3>
                    <span class="text-sm text-muted">by @post.Author.Name</span>
                    <span class="text-muted">in
                        <a asp-page="/Categories/Details" asp-route-id="@post.Category.Id">
                            @post.Category.Name
                        </a>
                    </span>
                    <p class="card-text mt-3">@post.Excerpt</p>
                    <a asp-page="/Posts/Details" asp-route-id="@post.Id">Read more</a>
                </div>
            </div>
        }
    </div>
    
    <div class="col-md-3">
        <h3>Categories</h3>
    </div>
</div>
